<launch>	
	<!--Set Path for the experiment-bags here--> 
	<arg name="path" default="/home/$(env USER)/ROS/BagFiles/qrCodeReferencer/" />
	<arg name="filename" default="$(arg filename).bag" />
    
	<arg name="topics" default="/depthcam1/depthcam1/color/image_raw/ 
								/depthcam1/depthcam1/color/camera_info/
								/depthcam1/depthcam1/depth_registered/points
								/tf
								/tf_static
								/tool_velocity
								/joint_states
								/trajectory_execution_event
								/ur_driver/URScript
								/ur_driver/io_states
								/ur_driver/joint_speed
								"/>

	<node pkg="rosbag" type="record" name="record" args="-o $(arg path)$(arg filename) $(arg topics)" output="screen"/>	  	  
</launch>
	