<launch>  
  <!-- load params-->
  <arg name="rviz_cfg" default="$(find qrcode_referencer)/rvizConfig/dev.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cfg)"/>	

  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/>

  <!-- run static information core node-->  
  <node name="static_information" pkg="kollro_solver" type="StaticInformation"/>	

  <!-- launch zed-->
    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="map" />
        </include>
    </group>
    

</launch>