<launch>  
  <!-- load params-->
  <arg name="rviz_cfg" default="$(find qrcode_referencer)/rvizConfig/dev.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cfg)"/>	

  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/>

  <!-- run static information core node-->  
  <node name="static_information" pkg="kollro_solver" type="StaticInformation"/>	

 <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link" args="0 0 0 0 0 0 /world /camera_link"/>
 <node pkg="tf2_ros" type="static_transform_publisher" name="kinect_link" args="0 0 0 0 0 0 /world /kinect2_rgb_optical_frame"/>
 <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>   
</launch>