<launch>	
  <arg name="rate" default="1.0" />
  <arg name="loop" default="false"/>
	
  <!--Filenames for the different bags-->
  <arg name="path" default="/home/$(env USER)/ROS/BagFiles/" />
  <arg name="filename" default="zed_qrcode.bag"/>	
    
  <group if="$(arg loop)">	
    <node pkg="rosbag" type="play" name="player" 
	  	  args="$(arg path)$(arg filename) --clock --loop --rate=$(arg rate)"
		  output="screen"/>
  </group>
  
  <group unless="$(arg loop)">	
    <node pkg="rosbag" type="play" name="player" 
		  args="$(arg path)$(arg filename) --clock --rate=$(arg rate)"
		  output="screen"/>
  </group>
	
</launch>